* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.c_gray {
    color: rgb(150, 142, 142);
}

.cursor_point {
    cursor: pointer;
}

.text_center {
    text-align: center;
}

.container-default {
    width: 70%;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

.container-default-2 {
    width: 95%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.d_flex {
    display: flex;
}

.align_center {
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.reset-list {
    list-style-type: none;
}

.reset-decoration {
    text-decoration: none
}

.text_black {
    color: black;
}

.m_e_20 {
    margin-right: 20px;
}

.m_20 {
    margin: 20px;
}

.m_t_10 {
    margin-top: 10px;
}

.m_t_20 {
    margin-top: 20px;
}

.m_b_70 {
    margin-bottom: 70px;
}

.p_t_50 {
    padding-top: 50px;
}

.vertical_bottom {
    vertical-align: middle;
}

.col_2_margin {
    width: calc((100% / 2)-15px);
}

.overFlow {
    overflow-y: auto;
}

.m_y_3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.w_100 {
    width: 100%;
}

.h_100_vh {
    height: 100vh;
}

.flexCol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.padding_btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.fs_1 {
    font-size: 0.9em;
}



.bg_blue {
    background-color: rgb(80, 80, 216);
}


#divider {
    border: 1px solid gray;
    background-color: gray;
}

#questionAnswer {
    padding-top: 20px;
    padding-bottom: 20px;
}

li {
    padding-bottom: 11.5px;
    margin-bottom: -11.5px
}

li:hover {
    border-bottom: 3px solid inset blue;
    
}

/* .d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
    flex-wrap: nowrap!important;
} */
